<div class="m-4">

  <br>
  <br>

  <h6 class="text-center">Sign up to PlaceRate.</h6>

  <br>

  <hr>

  <br>

  <p>Which company do you work for?</p>

  <br>

  <hr>

  <br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>



  <div class="form-inputs">
    <%= f.input :first_name,
                placeholder: "first name",
                label: false,
                required: true,
                autofocus: true,
                input_html: { class: "input inset", autocomplete: "first name" }%>
    <%= f.input :last_name,
                placeholder: "last name",
                label: false,
                required: true,
                autofocus: true,
                input_html: { class: "input inset", autocomplete: "last name" }%>
    <%= f.input :email,
                placeholder: "email",
                label: false,
                required: true,
                autofocus: true,
                input_html: { class: "input inset", autocomplete: "email" }%>


    <div class="field">
      <%= f.fields_for :company do |builder| %>
        <%= builder.label :company_name %><br />
        <%= builder.text_field :company_name %>
      <%end%>
    </div>


    <%= f.input :password,
                placeholder: "password",
                label: false,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { class: "input inset", autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                placeholder: "confirm password",
                label: false,
                required: true,
                input_html: { class: "input inset", autocomplete: "new-password" } %>
  </div>

  <div class="text-center">

    <div class="form-actions">
      <%= f.button :submit, "SIGN UP", class: "btn btn-purple btn-lg btn-block" %>
    </div>

  <% end %>

  <br>

    <%= render "devise/shared/links" %>

</div>
