<div class="m-4">

  <br>
  <br>

  <h6 class="text-center">Log in to your account.</h6>

  <br>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  placeholder: "email",
                  input_html: { class: "input inset"},
                  label: false,
                  autofocus: true %>
      <%= f.input :password,
                  required: false,
                  placeholder: "password",
                  input_html: { class: "input inset"},
                  label: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="text-center">
      <div class="form-actions">
        <%= f.button :submit, "LOG IN", class: "btn btn-purple btn-lg btn-block" %>
      </div>
    <% end %>

    <br>

    <%= render "devise/shared/links" %>

    </div>


</div>
